html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.header-underline {
    border-bottom: 1px solid grey; /* Change the color to grey */
}
.main-head{
    padding: 9px;
}
.head{
    column-gap: 20px;
}
.seller{
    color: #22B3C1;
}
.btn1{
    background-color: #22B3C1;
    padding: 13px;
    color: white;
    border-radius: 10px;
    border: none;
}
.followers{
    text-shadow: 0 0 10px #ffffff, 
                 0 0 10px #ffffff, 
                 0 0 10px #ffffff,
                 0 0 10px #22B3C1;

}
.text{
    font-size: 15px;
}
.text2{
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.searchbar-large {
    margin: auto;
    height: 100px;
    background-color: #8F8F8F;
    border-radius: 50px; /* Increased border radius for larger search bar */
    padding: 10px; /* Increased padding for larger search bar */
    display: flex;
    align-items: center;
}

.search_input-large {
    color: white;
    border: 0;
    outline: 0;
    background: #D9D9D9;
    border-radius: 50px;
    width: 950px;
    padding: 0 60px 0 20px; /* Adjusted padding for input */
    height: 60px; /* Adjusted height for input */
}

.search_icon-large {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    height: 53px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #22B3C1;
    color: white;
    text-decoration: none;
}

.card-img-top {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    object-fit: cover; /* Ensures images maintain aspect ratio */
}
.price{
    color: #22B3C1;
}
.filter{
    font-size: 28px;
}
.dropdown{
    margin-left: 103px;
}
.drops{
    background: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    width: 260px;
}
.btn3{
    background-color: #FF4D00;
    padding: 6px;
    color: white;
    border-radius: 10px;
    border: none;
}
.texxt{
    color: #858181;
}
.social-icons i {
    font-size: 24px; 
}
.fab.fa-facebook-f {
    color: #1877F2; /* Facebook blue */
}

.fab.fa-twitter {
    color: #1DA1F2; /* Twitter blue */
}

.fab.fa-pinterest-p {
    color: #E60023; /* Pinterest red */
}
.fab.fa-youtube {
    color: #FF0000; /* YouTube red */
}
.fab.fa-instagram {
    color: #C13584; /* Instagram pink */
}


@media screen and (min-width: 840px) and (max-width: 990px) {
    .search_input-large{
        width: 700px;
    }
}

@media screen and (min-width: 650px) and (max-width: 839px) {
    .search_input-large{
        width: 600px;
    }
}
@media (max-width: 649px) {
    .search_input-large{
        width:auto;
    }
    .drops{
        width: auto;
    }
    .dropdown{
        margin-left: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 350px) {
    .seller{
        font-size: 14px;
    }
    .followers {
        font-size: 16px;
    }
}